:root {
  font-family: system,system-ui,-apple-system,"San Francisco",BlinkMacSystemFont,Roboto,"Segoe UI",Ubuntu,"Helvetica Neue","Lucida Grande";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  --primary-color: #F9CD19;
  --secondary-color: #efefef;
  --background-color: #225922;
  --background-color-2: #3C643A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.pointer {
  cursor: pointer
}